.parkName {
    text-align: center;
    padding-top:20px;
    padding-right:2px;
    padding-left:2px;
    font-family: Rockwell, sans-serif;
    font-weight: bold;
    line-height: 60px;
}

.iconContainer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.descCont{
    flex-basis: 33%;
}

.amenCont{
    flex-basis: 33%;
}

.marketsCont{
    flex-basis: 33%;
}

.gasCont{
    flex-basis: 33%;
}

.addToTrips{
    margin-top:20px;
    background-color:rgba(209, 108, 77, .5);
    border:3px solid black;
    padding-right: 30px;
    padding-left: 30px;
    color:black;
    font-weight: bold;
}

.mapIt{
    margin-top:20px;
    background-color:rgba(209, 108, 77, .5);
    border:3px solid black;
    padding-right: 50px;
    padding-left: 50px;
    color:black;
    font-weight: bold;
}

.mainButtonHolder{
display: flex;
justify-content: space-evenly;
}

.parkNameNotFound{
    text-align: center;
    padding: 25px;
    line-height: 50px;
}

.centerThatPic{
    display: flex;
    justify-content:center;
}

.centerThatThing{
display: flex;
justify-content:center;
padding-bottom: 50px;
}
