.parkName {
    text-align: center;
    padding-top:20px;
    padding-right:2px;
    padding-left:2px;
    font-family: Rockwell, sans-serif;
    font-weight: bold;
    line-height: 60px;
}

.iconContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.detailsIcon{
    margin-top:30px;
    margin-bottom:70px;
}

.amenitiesIcon{
    margin-top:30px;
    margin-bottom:70px;
}

.campingIcon{
    margin-top:30px;
    margin-bottom:70px;
}

.mainPageDividerLine{
   margin-left: 142px;
   margin-top:-20px;
}

.parkfeatures{
    display: inline;
}

.gasCorrect{
    margin-left: 1px;
    margin-top: 7px;
}

.marketCorrect{
    margin-left: 19px;
    margin-top: 7px;
}

.weatherCorrect{
    margin-left: 17px;
    margin-top: 7px;
}

.parkCorrect{
    margin-left: 15px;
    margin-top: -63px;
    margin-bottom: 20px;
}

.amenCorrect{
    margin-left: 11px;
    margin-top: -63px;
    margin-bottom: 20px;
}

.campingCorrect{
    margin-left: 13px;
    margin-top: -63px;
    margin-bottom: 20px;
}

.addToTrips{
    margin-top:20px;
    background-color:rgba(209, 108, 77, .5);
    border:3px solid black;
    padding-right: 30px;
    padding-left: 30px;
    color:black;
    font-weight: bold;
}

.mapIt{
    margin-top:20px;
    background-color:rgba(209, 108, 77, .5);
    border:3px solid black;
    padding-right: 50px;
    padding-left: 50px;
    color:black;
    font-weight: bold;
}

.mainButtonHolder{
display: flex;
justify-content: space-evenly;
}

.parkNameNotFound{
    text-align: center;
    padding: 25px;
    line-height: 50px;
}