body{
    font-family: "Avenir Next" !important;
    font-weight:bold;
    background-color: #FFF8E9;
}

.login, .register {
    text-align: center;
}

.login input, .register input {
    border: 1px solid #D5D5D5;
    padding: 5px;
    border-radius: 6px;
    text-align: center;
    width: 60%;
}

.login h2{
    padding-top:78px;
    font-family: Rockwell, sans-serif;
}

.login h1{
    font-family: Rockwell, sans-serif;
}

.register h2{
    padding-top:20px;
    font-family: Rockwell, sans-serif;
}

.register h1{
    font-family: Rockwell, sans-serif;
}

.signIn, .searchParkButton{
    margin-top:50px;
    background-color:rgba(209, 108, 77, .5);
    border:3px solid black;
    padding-right: 30px;
    padding-left: 30px;
    color:black;
    font-weight: bold;
}

.signUpLink{
    padding-top:20px;
    color:black;
}

#username{
    font-weight: bold;
}

#password{
    font-weight: bold;
}

.loginDividerLine{
    padding-bottom: 100px;
    padding-top: 10px;
    align-self: center;
}

.registerDividerLine{
    padding-bottom: 100px;
    padding-top: 10px;
    align-self: center;
    padding-right:1px;
}

.moveInputLines{
    margin-top:-137px;
}

.register .moveInputLines{
    margin-top:-165px;
}

.everythingButTheHeader{
margin-top: -40px;
}

.registerInputBox{
    margin-top:-40px;
}

.searchParkButton{
    margin-top:100px;
}

.registerBackArrow{
padding-top: 20px;
padding-right:300px;
}


.moveInputLinesRegister{
    margin-top: -20px;
}

.signIn, .signUp{
margin-right:14px;
margin-left: 14px;
}

.linkText{
    color: black;
}

.signUp{
    margin-top:-50px;
    background-color:rgba(209, 108, 77, .5);
    border:3px solid black;
    padding-right: 30px;
    padding-left: 30px;
    color:black;
    font-weight: bold;
}

img{
    cursor: pointer;
}
/* Ipad */
/* @media (min-width: 576px) {
    .headerRegister{
        height: 270px;
        width:345px;
        overflow: scroll;
    }
 } */

/* Desktop */
/* @media (min-width: 1025px) {
    .registerDividerLine{
        padding-bottom: 000px;
        padding-top: 10px;
        align-self: center;
        padding-right:1px;
    }

    /* .registerInputBox{
        margin-top: 500px;
    } */
 /* } */

