.footer{
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.footer{
    display: flex;
    justify-content:space-evenly;
    background-color: black;
}

.ulContainer{
    margin: 5px;
}

.searchIcon{
    margin-right: 175px;
}